:root{
	--layout-width:600px;
	--layout-gutter:20px;
	--inset-breakout:300px;
	--inset-gutter:40px;
	--inset-min-width:0%;
	--inset-max-width:65%;
	--inset-max-width-quote:400px;
	--brand:#991f80;
	--brand-fluoro:#e23bc3;
	--brand-light:#ffb5f1;
	--brand-lighter:#ffd0f6;
	--text:#333333;
}
@media screen and (max-width:1439px){
	:root{
		--inset-breakout:30px;
		--inset-max-width:40%;
	}
}

@media screen and (max-width:767px){
	:root{
		--layout-gutter:20px;
		--inset-breakout:0px;
		--inset-gutter:0;
		--inset-min-width:100%;
		--inset-max-width:100%;
	}
}

*{
	box-sizing:border-box;
}

html, body{
	margin:0;
	padding:0;
	font-family:Georgia, Arial, Serif;
	color:var(--text);
	overflow-x:hidden;
	height:100%;
}

.logo{
	position:absolute;
	top:20px;
	left:20px;
}

.signoff{
	display:inline-block;
	margin-left:10px;
	vertical-align:middle;
	height:25px;
	border-radius:100%;
	box-shadow:0 0 5px 5px rgba(153, 31, 128, 0.15);
}

.top-image{
	position:relative;
	max-height:700px;
	overflow:hidden;
}
.top-image::after{
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	max-height:400px;
	height:75%;
	pointer-events:none;
	background:linear-gradient(to top, #ffffff 0%, transparent 100%);
}
.top-image img{
	position:absolute;
	display:block;
	width:100%;
	margin:0 auto;
}
.top-image-size{
	padding-top:56.25%
}

@media screen and (min-width:768px){
	.top-image + article {
		margin-top:-300px;
	}
}

article,.column{
	max-width:calc(var(--layout-width) + 2*var(--layout-gutter) + 2*var(--inset-breakout));
	margin:60px auto 0;
	padding:60px calc(var(--inset-breakout) + var(--layout-gutter)) 60px;
	position:relative;
	font-size:18px;
	line-height:1.8;
}

.editor-note,
.article-info,
.author-voice{
	font-style:italic;
	font-size:16px;
	line-height:24px;
}

.editor-note cite::before {
	content:"\2014";
	margin-right:10px;
	color: var(--brand);
}

.article-info{
	display:flex;
	align-items:center;
	margin:20px 0;
}
.article-info-inner {}
.article-info p{
	margin-bottom:0;
}

.author-voice{
	padding:0 20px;
	margin:0 auto;
	max-width:550px;
}

.author-pic{
	display:block;
	width:102px;
	height:102px;
	border-radius:100px;
	border:2px solid var(--brand);
	margin-right:20px;
}

.author-pic + h2 {
	padding-top:14px;
	margin-bottom:0;
}
.author-pic + h2::after{
	display:none;
}

article .author-pic {
	clear:right;
	float:left;
	margin-bottom:20px;
}
article .author-pic + p {
	clear: right;
}
article .author-pic-right {
	clear:left;
	float:right;
	margin-right:0;
	margin-left:20px;
}
article .author-pic-right + p {
	clear:left;
}

article section:first-of-type > p:first-child::first-letter{
	float:left;
	font-size:60px;
	line-height:64px;
	padding-right:5px;
}

article p{
	margin:0 0 20px;
	text-align:justify;
}

article a{
	text-decoration:none;
	box-shadow: inset 0 -2px 0 var(--brand-light);
	font-style:inherit;
	background:linear-gradient(to right, var(--brand-fluoro) 0, var(--brand-fluoro) 33%, var(--text) 67%, var(--text) 100%);
	background-size:300% 100%;
	background-position:100% 0;
	transition:background 0.6s;
	color:transparent;
	background-clip:text;
	-webkit-background-clip:text;
}
article a:hover{
	background-position:0 0
}

article img{
	display:block;
	max-width:100%;
}

article hr{
	clear:both;
	display:block;
	height:1px;
	margin:40px 0;
	border:none;
	background:linear-gradient(to left, transparent 0%, transparent 10%, var(--brand) 40%, var(--brand) 60%, transparent 90%, transparent 100%);
	position:relative;
	overflow:visible;
}

.highlight{
	font-style:normal;
	background:var(--brand-lighter);
	transition:background 0.3s;
	text-decoration:none;
}
.highlight:hover{
	background:var(--brand-light);
}

.image-caption{
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid var(--brand);
	font-style:italic;
	font-size:14px;
	line-height:20px;
}

h1{
	font-size:80px;
	line-height:1.2;
	margin-top:0;
	margin-bottom:40px;
	margin-left:calc(-1*var(--inset-breakout));
	margin-right:calc(-1*var(--inset-breakout));
	text-align:center;
}
@media screen and (max-width:767px){
	h1{
		font-size:40px;
		margin-top:-200px;
		margin-bottom:20px;
	}
}

h2{
	font-size:40px;
	margin-bottom:20px;
}
h2:after{
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border-bottom:1px solid var(--brand);
}
h1, h2{
	position:relative;
}

.inset-left{
	float:left;
	margin-right:var(--inset-gutter);
	margin-left:calc(-1*var(--inset-breakout));
	min-width:var(--inset-min-width);
	max-width:var(--inset-max-width);
}
.inset-left.pullquote-inset{
	max-width:var(--inset-max-width-quote);
}

.inset-right{
	float:right;
	margin-left:var(--inset-gutter);
	margin-right:calc(-1*var(--inset-breakout));
	min-width:var(--inset-min-width);
	max-width:var(--inset-max-width);
}
.inset-right.pullquote-inset{
	max-width:var(--inset-max-width-quote);
}

.inset-center{
	margin-left:calc(-1*var(--inset-breakout));
	margin-right:calc(-1*var(--inset-breakout));
}
.inset-center.pullquote-inset blockquote{
	max-width:var(--inset-max-width-quote);
	margin:0 auto;
}
.inset-center img{
	margin:0 auto;
}
.inset-center .inset-inner {
	margin: 0 auto;
}

.image-inset{
	margin-top:20px;
	margin-bottom:20px;
	display:flex;
}
.image-inset img{
	margin:0 auto;
}

.pullquote-inset{
	margin-bottom:20px;
	font-size:16px;
}
.pullquote-inset blockquote{
	padding:10px 20px 20px;
	border-top:3px solid var(--brand);
	background:var(--brand-lighter);
	border-radius:0 0 20px 20px;
}
.pullquote-inset blockquote p{
	text-align:left;
}
.pullquote-inset blockquote p:last-child{
	margin-bottom:0;
}
.pullquote-inset.inset-right blockquote p{
	text-align:right;
}

.image-inset{
	opacity:0;
	transition:opacity 1s, transform 1s;
}
.image-inset.inset-left{
	transform:translateX(-20%);
}
.image-inset.inset-right{
	transform:translateX(20%);
}
.image-inset.inset-center{
	transform:translateY(20%);
}
.image-inset.show,.image-inset.inset-right.show *{
	opacity:1;
	transform:none;
}

.homepage-top {
	background:var(--brand);
	color:#ffffff;
	height:100vh;
	position:relative;
}
@keyframes homepage-image-fade-in{
	0%{
		opacity:0;
	}
	100%{
		opacity:0.2;
	}
}
.homepage-top-image{
	object-fit:cover;
	object-position:50% 50%;
	width:100%;
	height:100%;
	opacity:0;
}
.homepage-top-image.show{
	animation:homepage-image-fade-in 1.5s forwards;
}
.homepage-top-inside{
	position:absolute;
	top:50%;
	right:50%;
	transform:translate(50%, -50%);
	max-width:1500px;
	padding:0 40px;
	display:flex;
	align-items:center;
}
.homepage-heart {
	width:15vw;
	margin-right:3vw;
	border-radius:100%;
	box-shadow: 0 0 10vmin rgba(0, 0, 0, 0.4);
}
.homepage-top h1 {
	text-align:start;
	font-size:7vw;
	margin:0;
	text-shadow:0 0 50px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:767px){
	.homepage-top-inside{
		flex-wrap:wrap;
		flex-direction:column-reverse;
		min-width:75%;
	}
	.homepage-heart{
		width:40vmin;
		margin:40px auto;
	}
	.homepage-top h1 {
		width:100%;
		font-size:50px;
		text-align:center;
		text-shadow:0 0 20px rgba(0, 0, 0, 0.4);
	}
}

.article-list{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap:50px;
	margin:60px auto;
	max-width:1000px;
}
.article-box{
	display:block;
	position:relative;
}
.article-box-size{
	padding-top:56.25%;
}
.article-box-image{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:50% 50%;
	opacity:0.6;
}
.article-box-inside{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	bottom:0;
}
.article-box-title{
	color:var(--brand);
	position:absolute;
	width:100%;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	padding:0 20px;
	font-size:50px;
	margin:0;
}

.link-home{
	position:fixed;
	z-index:1;
	top:40px;
	left:40px;
	display:block;
}

.link-home img{
	display:block;
	height:25px;
	border-radius:100%;
	box-shadow:0 0 5px 5px rgba(153, 31, 128, 0.15);
	opacity:0.5;
	transition:all 0.3s;
}

.link-home:hover img{
	opacity:1;
}
